@import "tailwindcss";
@media (max-width: 432px) {
.Items{
  flex-direction: column;
  width:100%;
  height: 100%;
}
.navBAR{
  display: flex;
  gap: 15px;
  font-size: 1rem;
}

#root{
  width: 100%;
  height: 100%;
}
.singleR{
  display: flex;
  flex-direction: column;
  gap: 10%;
 
}
.singleR .left img{
  width: 100%;
  height: 100%;
}

}


